# Dobby library
jni/external/dobby/
dobby-test/

# Build artifacts
*.o
*.so
*.a
*.log
build/
libs/
obj/
*.zip

# IDE files
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Local build files
hyperos_sf_bypass/
